<%- include("./partials/header") %>
<title>Booking</title>
<link rel="stylesheet" href="/stylesheets/site.css">
</head>
<body>
    <section class="header">
        <img src="/Images/background3.png" alt="">
    </section>
    <div class="container1">
        <h1 id="heading1">A journey of lifetime</h1>
        <div class="frame">
                <h2>Book Your Tickets Now</h2>
            <div class="ticket">
                <div class="flightInfo">
                    <h3>Etihad Airways flights</h3>
                    <h5>Price: Rs. 45,500</h5>
                </div>

                <a href=""><span>&#8599;</span></a>
            </div>
            <div class="ticket">
                <div class="flightInfo">
                <h3>Etihad Airways flights</h3>
                <h5>Price: Rs. 75,050</h5>
                </div>
                <a href=""><span>&#8599;</span></a>
            </div>
            <div class="ticket">
                <div class="flightInfo">
                <h3>Turkish Airlines flights</h3>
                <h5>Price: Rs. 60,700</h5>
                </div>
                <a href=""><span>&#8599;</span></a>
            </div>
            <div class="ticket">
                <div class="flightInfo">
                <h3>SWISS flights</h3>
                <h5>Price: Rs. 1,00,600</h5>
                </div>
                <a href=""><span>&#8599;</span></a>
            </div>
            <div class="ticket">
                <div class="flightInfo">
                <h3>Oman Air flights</h3>
                <h5>Price: Rs. 50,000</h5>
                </div>
                <a href=""><span>&#8599;</span></a>
            </div>
            <div class="ticket">
                <div class="flightInfo">
                <h3>Flynas flights</h3>
                <h5>Price: Rs. 45,550
                </h5>
                </div>
                <a href=""><span>&#8599;</span></a>
            </div>
        </div>
    </div>
    <div class="footer">
        <a href="/" style="color: #ffbf00;">Back to Home</a>
    </div>

</body>
</html>