<%- include('./partials/header') %>
   <title>Landing page</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="stylesheet" href="/stylesheets/nav.css">

</head>
<body>
    <%- include('./partials/navbar') %>
    <section class="header">
        <img src="/Images/background1.png" alt="">
        <h1>Egypt</h1>
        <svg 
            width="434.685px" height="400.685px">
            <path fill-rule="evenodd"  stroke="rgb(255, 255, 255)" stroke-width="3px" stroke-linecap="butt" stroke-linejoin="miter" opacity="0.5" fill="rgb(255, 255, 255)"
            d="M381.610,82.201 C393.479,83.258 396.609,101.022 406.179,101.304 C418.058,101.652 432.450,74.868 430.749,49.456 C428.998,23.316 410.328,0.702 403.450,3.065 C399.672,4.363 400.211,15.700 395.260,24.896 C393.692,27.807 391.995,30.214 389.800,33.083 C382.671,42.403 373.350,53.300 367.961,60.371 C358.138,73.258 353.532,86.533 346.121,98.575 C340.653,107.460 329.449,121.579 318.822,134.050 C303.824,151.649 288.415,167.165 275.143,177.711 C257.149,192.009 240.895,201.133 239.654,199.541 C238.273,197.769 259.641,178.404 275.143,155.880 C281.150,147.153 292.484,128.611 294.252,104.032 C295.628,84.925 292.596,74.826 286.063,71.286 C282.256,69.224 273.486,69.868 261.494,76.744 C244.092,86.721 233.201,101.129 226.004,114.948 C213.979,138.039 209.528,163.087 212.355,164.067 C214.957,164.968 224.455,145.733 228.734,136.778 C231.756,130.456 239.959,117.460 247.844,106.761 C250.986,102.499 256.909,94.919 266.953,93.117 C273.438,91.954 282.689,93.051 286.063,98.575 C292.347,108.864 275.074,128.526 269.683,134.050 C258.192,145.822 245.161,148.535 234.194,155.880 C230.173,158.574 223.960,162.890 215.085,164.067 C206.428,165.214 201.097,162.662 193.245,161.338 C182.991,159.609 172.125,161.107 163.216,164.067 C151.409,167.989 138.234,176.987 124.997,196.813 C112.657,215.297 107.336,235.052 103.158,248.661 C98.732,263.077 87.156,286.584 73.129,308.695 C44.752,353.423 -1.833,390.349 2.151,396.018 C4.302,399.078 20.289,393.527 32.180,387.831 C34.910,381.464 40.370,375.096 43.100,368.729 C53.086,358.639 62.202,347.723 70.399,335.983 C82.882,318.106 94.526,297.001 103.158,275.949 C107.946,264.271 116.012,243.291 135.917,226.830 C141.002,222.624 157.393,218.991 163.216,215.914 C173.226,215.005 232.374,214.095 242.384,213.186 C247.941,211.720 253.404,209.900 258.764,207.728 C271.631,202.513 282.671,196.063 291.523,188.626 C305.378,176.985 311.865,164.814 318.822,153.151 C328.137,137.536 338.230,131.328 346.121,114.948 C347.099,112.918 355.941,99.167 365.231,90.388 C371.042,84.897 376.096,81.711 381.610,82.201 Z"/>
        </svg>
    </section>
    <div class="container">
        <img src="/Images/img1.png" id="img1" alt="">
        <div class="animLine"></div>
        <div class="point-extended">
                
                <div class="line"></div>
                <div class="circle"></div>
                <div class="content">
                    <a href="sites">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate dolores eius in unde est? 
                            Amet voluptatem dolorem 
                            inventore illo sapiente quibusdam ratione adipisci quos omnis, id distinctio! Voluptas, ad sit.</p>
                    </a>
                </div>
        </div>

        <div>
            <img src="/Images/img2.png" id="img2" alt="">
        </div>

        <div class="point-extended reverse">
            <div class="line"></div>
            <div class="circle"></div>
            <div class="content">
                <a href="/hotel">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate dolores eius in unde est? 
                        Amet voluptatem dolorem 
                        inventore illo sapiente quibusdam ratione adipisci quos omnis, id distinctio! Voluptas, ad sit.</p>
                </a>
            </div>
       </div>

       <div class="point-extended reverse">
        <div class="line"></div>
        <div class="circle"></div>
        <div class="content">
            <a href="/book">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate dolores eius in unde est? 
                    Amet voluptatem dolorem 
                    inventore illo sapiente quibusdam ratione adipisci quos omnis, id distinctio! Voluptas, ad sit.</p>
            </a>
        </div>
        </div>
    </div>

    <div class="footer">
        <img src="/Images/img3.png" style="width: 100px; height: auto;" alt="">
        <div class="info">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam totam nisi laudantium mollitia reprehenderit accusamus, dolorem unde impedit eos officia fuga deserunt, debitis explicabo, nostrum earum similique ratione quaerat voluptatem?</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam totam nisi laudantium mollitia reprehenderit accusamus, dolorem unde impedit eos officia fuga deserunt, debitis explicabo, nostrum earum similique ratione quaerat voluptatem?</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam totam nisi laudantium mollitia reprehenderit accusamus, dolorem unde impedit eos officia fuga deserunt, debitis explicabo, nostrum earum similique ratione quaerat voluptatem?</p>
        </div>
        <p class="contact">Contact us here : 17627-128273189</p>
    </div>


    <%- include('./partials/footer') %>
    <script src="/script/index.js" defer></script>
</body>
</html>