<%- include('./partials/header') %>
    <title>Famous Places</title>
    <link rel="stylesheet" href="/stylesheets/site.css">

</head>
<body>
    <section class="header">
        <img src="/Images/background2.png" alt="">
        <img src="/Images/backoverlay.png" id="overlay" alt="">
        <h1 id="heading">Places To Ponder</h1>
    </section>
    <svg 
    width="1236.685px" height="2912.685px">
    <path class="path" fill-rule="evenodd"  stroke="rgba(236, 212, 212, 0.5)" stroke-width="3.79px" stroke-linecap="butt" stroke-linejoin="miter" fill="none"
    d="M917.007,1.895 C1026.674,133.072 1054.820,311.720 998.487,453.016 C916.940,657.552 694.613,700.630 552.119,670.076 C474.286,653.388 290.570,585.745 275.796,429.479 C268.360,350.817 304.871,245.705 389.159,207.187 C451.974,178.483 550.670,182.765 594.630,260.799 C636.996,336.001 614.259,454.301 549.757,484.398 C493.909,510.458 407.385,472.843 396.245,411.173 C389.952,376.337 406.870,329.286 438.756,317.026 C474.589,303.247 512.469,339.975 523.778,352.330 C595.136,430.289 595.114,616.058 514.331,701.459 C411.763,809.890 239.041,691.619 110.475,799.529 C28.317,868.486 -20.491,1007.602 20.729,1105.506 C77.731,1240.899 301.082,1284.235 383.255,1180.039 C437.582,1111.153 435.508,971.134 372.627,921.135 C302.177,865.118 172.619,935.856 114.017,1030.973 C52.383,1131.014 66.114,1261.857 112.836,1344.796 C138.882,1391.031 226.909,1475.843 380.157,1497.137 C430.858,1504.181 476.935,1502.967 514.331,1497.785 C668.923,1476.362 800.129,1354.821 939.444,1385.332 C1080.351,1416.192 1200.002,1574.704 1226.394,1744.921 C1237.454,1816.247 1246.916,1981.975 1143.733,2090.126 C1089.610,2146.857 988.025,2206.544 870.953,2169.890 C762.145,2135.823 652.332,2003.386 670.206,1891.372 C678.976,1836.410 721.274,1769.040 774.031,1773.995 C814.480,1777.794 852.695,1823.356 858.012,1877.868 C861.962,1918.375 847.462,1958.437 825.019,1980.490 C767.628,2036.883 640.287,1994.765 593.072,1884.126 C549.082,1781.041 587.520,1648.212 660.057,1585.021 C726.656,1527.004 804.995,1538.590 854.013,1567.500 C974.305,1638.447 1011.915,1863.573 954.990,1974.232 C915.149,2051.680 788.348,2100.895 571.013,2096.665 C518.586,2095.644 435.124,2094.692 361.999,2159.429 C329.624,2188.091 281.058,2273.754 266.349,2406.565 C250.927,2545.812 280.383,2648.892 307.680,2700.774 C374.695,2828.149 507.979,2912.781 647.769,2903.451 C784.159,2894.349 949.953,2794.054 966.604,2636.702 C975.029,2557.076 946.488,2449.785 868.592,2405.257 C763.410,2345.132 608.207,2423.046 576.917,2550.400 C561.251,2614.164 572.470,2708.847 638.323,2759.616 C712.801,2817.035 824.461,2791.517 874.496,2711.235 C908.800,2656.192 927.300,2554.265 868.592,2499.404 C819.362,2453.401 736.900,2460.238 691.461,2515.095 C647.931,2567.649 639.546,2662.789 687.919,2704.697 C724.161,2736.096 793.018,2738.286 824.899,2689.006 C847.025,2654.805 846.322,2603.176 818.995,2562.169 "/>
    </svg>
   
    <div class="container">
        <div class="place">
            <h3>واحد</h3>
            <img src="/Images/img4.png" alt="">
            <h4><a href="/sites/0">Great sphinx</a></h4>
        </div>
        <div class="place">
            <h3>اتنين</h3>
            <img src="/Images/img5.png" alt="">
            <h4><a href="/sites/1">Great Pyramid of Giza</a></h4>
        </div>
        <div class="place">
            <h3>تلاتة</h3>
            <img src="/Images/img6.png" alt="">
            <h4><a href="/sites/2">aswan dam</a></h4>
        </div>
        <div class="place">
            <h3>أربعة</h3>
            <img src="/Images/img7.png" alt="">
            <h4><a href="/sites/3">temple of philae</a></h4>
        </div>
        <div class="place">
            <h3>خمسة</h3>
            <img src="/Images/img8.png" alt="">
            <h4><a href="/sites/4">valley of the kings</a></h4>
        </div>

        <div class="footer">
            <a href="/">Back to Home</a>
        </div>
    </div>

    <%- include('./partials/footer') %>
    <script src="/script/site.js" defer></script>

</body>

</html>